<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-item lines="none"
        style="--padding-start: 10px!important; --padding-end:0px!important;--padding-top:0px!important;--border-width:0px!important;"
        color="primary">
        <ion-icon (click)="openTrangChu()" name="arrow-round-back"></ion-icon>
      </ion-item>
    </ion-buttons>
    <ion-title style="text-align: center!important;">
      Quản lý điểm bán hàng
    </ion-title>

    <ion-buttons slot="end">
      <ion-item lines="none"
        style="--padding-start: 10px!important; --padding-end:0px!important;--padding-top:0px!important;--border-width:0px!important;"
        color="primary">
        <ion-icon (click)="openTrangChu()" name="pin"></ion-icon>
      </ion-item>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-searchbar placeholder="Tìm kiếm điểm bán hàng" [(ngModel)]="queryText" (ionInput)="filterDiemBanHang($event)"
    clearInput>
  </ion-searchbar>
</ion-header>

<ion-content padding style="padding-top: -10px!important;">

  <ion-list style="margin-top: -15px!important; margin-bottom: -10px!important;">
    <ion-item *ngFor="let item of danhSachDiemBan"
      style="--padding-start:0px!important; --padding-top:15px!important; --inner-padding-end:0px!important; --inner-padding-bottom:10px!important;">

      <ion-grid style="--ion-grid-padding:0px!important;">

        <ion-row>
          <ion-col size="3" style="--ion-grid-column-padding:0px!important;">
            <img (click)="openDiemBanHang(item.posCareId)" src="../assets/images/nvmobi.png"
              style="width: 100px!important; height: 80px!important; border-radius: 5px;">
          </ion-col>
          <ion-col size="9" style="--ion-grid-column-padding:0px!important;">
            <div (click)="openDiemBanHang(item.posCareId)"
              style="padding-bottom:5px!important; font-weight: bold; font-size: 18px!important;">
              {{item.posCareName}}
            </div>
            <div style="padding-bottom:5px!important; padding-top:3px!important;">
              {{item.posCareCode}}
            </div>
            <div style="padding-bottom:5px!important; padding-top:3px!important;">
              Sim tồn: {{item.numSimTon}}, Thẻ tồn: {{item.numTheTon}}<span *ngIf="item.posCarePhone == ''">, ĐT:
                {{item.posCarePhone}} </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>
<ion-list>
  <ion-item>
    <p>Tạp hóa ngã tư Đại Học Vinh</p>
  </ion-item>
  <ion-item>
    <p>Điểm bán hàng số 1</p>
  </ion-item>
  <ion-item>
    <p>Điểm bán hàng số 2</p>
  </ion-item>
  <ion-item>
    <p>Điểm bán hàng số 3</p>
  </ion-item>
  <ion-item>
    <p>Điểm bán hàng số 4</p>
  </ion-item>
  <ion-item>
    <p>Đại lý phân phối sim chính hãng</p>
  </ion-item>
</ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <table style="width: 100%!important;">
      <tr>
        <td style="width: 25%!important; text-align: center;">
          <ion-icon (click)="openTrangChu()" name="basket" style="font-size: 20px!important;color: blue!important;">
          </ion-icon>
          <br>
          <span (click)="openTrangChu()" style="font-size: 12px!important;color: blue!important;">Bán hàng</span>
        </td>
        <td style="width: 25%!important; text-align: center;">
          <ion-icon (click)="openKhoHang()" name="podium" style="font-size: 20px!important;"></ion-icon>
          <br>
          <span (click)="openKhoHang()" style="font-size: 12px!important;">Kho hàng</span>
        </td>
        <td style="width: 25%!important; text-align: center;">
          <ion-icon (click)="openLichSu()" name="logo-buffer" style="font-size: 20px!important;"></ion-icon>
          <br>
          <span (click)="openLichSu()" style="font-size: 12px!important;">Lịch sử</span>
        </td>
        <td style="width: 25%!important; text-align: center;">
          <ion-icon (click)="openTaiKhoan()" name="person" style="font-size: 20px!important;"></ion-icon>
          <br>
          <span (click)="openTaiKhoan()" style="font-size: 12px!important;">Tài khoản</span>
        </td>
      </tr>
    </table>
  </ion-toolbar>
</ion-footer>